/*
:root {
  --web-large-width: 320px;
  --web-normal-width: 250px;
  --web-small-width: 200px;

  --web-preview-large-width: 320px;
  --web-preview-normal-width: 250px;
  --web-preview-small-width: 200px;


  --mobile-large-width: 250px;
  --mobile-normal-width: 200px;
  --mobile-small-width: 150px; 
  
  --mobile-preview-large-width: 250px;
  --mobile-preview-normal-width: 200px;
  --mobile-preview-small-width: 150px; 
  
} */

:root {
  --web-large-width: 360px;
  --web-normal-width: 300px;
  --web-small-width: 260px;

  --mobile-large-width: 270px;
  --mobile-normal-width: 220px;
  --mobile-small-width: 150px; /* Not used now */
  
  --img-max-width: 120px;
  --img-longWord-max-width: 100px; /* Not used now */
  --img-max-height: 150px;

  --img-mobile-max-width: 80px;
  --img-mobile-max-height: 100px;
}

.cardcontainer {
    width: 100%;
    height: 180px;
    /* background-color: rgba(0, 207, 243, 0.39); */
  }

.card, .card-preview {
    width: auto; /* Width adjusts to content */
    max-width: var(--web-normal-width); /* Maximum width limit */
    max-height: 180px;
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.222);
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

    
  .card.dragging {
    opacity: 0;
  }

  .card.longWord, .card-preview.longWord {
    max-width: var(--web-large-width);
    padding: 10px;
  }

  .card.shortWord, .card-preview.shortWord {
    max-width: var(--web-small-width); /* smaller max-width for short words */
  }

  /*
  .card-preview {
    width: auto;
    max-width: var(--web-normal-width);
    max-height: 180px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.222);
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    pointer-events: none;
  }
*/

  .card h2, .card-preview h2 {
    font-size: 32px;
    text-transform: capitalize;
  }
  
  .card img, .card-preview img {
    max-width: var(--img-max-width);
    max-height: var(--img-max-height);
  }
  
  .card-text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .card-text-box p {
    margin: 0;
    font-size: 16px;
    color: rgb(82, 82, 82);
  }




@media (max-width: 500px) {

    .cardcontainer {
      height: 150px;
    }
  
    .card, .card-preview {
      max-width: var(--mobile-normal-width);
      max-height: 180px;
    }
  
    .card h2, .card-preview h2 {
      font-size: 28px;  
    }
    
    .card img, .card-preview img {
      max-width: var(--img-mobile-max-width);
      max-height: var(--img-mobile-max-height);
    }

   
    .card.longWord, .card-preview.longWord {
        max-width: var(--mobile-large-width) ; /* larger max-width for long words, 250px now */
      }

      .card.longWord h2, .card-preview.longWord h2 {
        font-size: 26px;  
      }



}

/* 

.cardcontainer - själva ytan där kortet ligger i början

NORMAL

.card - vanliga kortet
    img
    h2
       .card-text-box - div, ordet + engelska ordet
          p

.card.dragging - vanliga kortet (som ligger i cardcontainer), den ligger kvar där "fysiskt", men ska 
                  vara osynlig under tiden man drar i det

.card.longWord - longWord läggs till om ordet är längre än 10 bokstäver

.card.shortWord - shortWord läggs till om ordet är längre än 10 bokstäver

PREVIEW

.card-preview - kortet som visas när man drar runt det

.card-preview.dragging - kortet som visas när man drar runt det. Gjorde ingenting på web när jag ändrade opactitet till 0.5
                          dubbelkolla på mobilen och ändra tilbaka eller ta bort. Gjorde inget på mobilen heller. Tror kanske
                          detta egentligen är samma som .card-preview??
                          Tror ej den finns:
                          const cardClassName = `card ${isDragging ? 'dragging' : ''} ${wordLengthClass}`;





*/