
.cardcontainer {
    width: 100%;
    height: 180px;
  }

.card {
    width: auto; /* Width adjusts to content */
    max-width: 250px; /* Maximum width limit */
    max-height: 200px;
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.222);
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  .card.longWord {
    max-width: 315px;
    padding: 10px 10px;
  }
  
  /* old: 
  .card-preview {
    max-width: 250px;
    max-height: 200px;
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.222);
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
  }
  */

  .card-preview {
    width: auto;
    max-width: 230px;
    max-height: 200px;
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.222);
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    pointer-events: none;
  }

  .card-preview.longWord {
    max-width: 300px;
    padding: 10px 10px;
  }
  
  .card.dragging {
    opacity: 0;
  }
  
  .card-preview.dragging {
    opacity: 0.5;
    border: 4px solid yellow;
  }
  
  .card h2 {
    font-size: 32px;
    text-transform: capitalize;
  }
  
  .card img {
    max-width: 130px;
    max-height: 160px;
  }
z
  .card.longWord img {
    max-width: 110px;
  }
  
  .card-preview h2 {
    font-size: 32px;
    text-transform: capitalize;
  }
  
  .card-preview img {
    max-width: 130px;
    max-height: 160px;
  }

  .card-preview.longWord img {
    max-width: 110px;
  }
  

  
  .card-text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .card-text-box p {
    margin: 0;
    font-size: 16px;
    color: rgb(82, 82, 82);
  }


  
@media (max-width: 850px) {

    .cardcontainer {
      width: 100%;
    }
}


@media (max-width: 500px) {

    .cardcontainer {
      width: 100%;
      height: 150px;
    }
  
    .card {
      max-width: 200px;
      max-height: 180px;
    }

    .card-preview {
        max-width: 200px;
        max-height: 180px;
      }
  
    .card h2 {
      font-size: 28px;  
    }
    
    .card img {
      max-width: 90px;
      max-height: 120px;
    }

    .card-preview h2 {
        font-size: 28px;  }
      
      .card-preview img {
        max-width: 90px;
        max-height: 120px;
      }

    .card.smallWord {
        max-width: 150px; /* smaller max-width for short words */
      }

      .card-preview.smallWord {
        max-width: 150px; /* smaller max-width for short words */
      }

      
    .card.longWord {
        max-width: 250px; /* larger max-width for long words */
      }

      .card-preview.longWord {
        max-width: 250px; /* larger max-width for long words */
      }

      .card.longWord h2 {
        font-size: 26px;  
      }

      .card-preview.longWord h2 {
        font-size: 26px;  
      }
  

}

/* 

.cardcontainer - själva ytan där kortet ligger i början

NORMAL

.card - vanliga kortet
    img
    h2
       .card-text-box - div, ordet + engelska ordet
          p

.card.dragging - vanliga kortet (som ligger i cardcontainer), den ligger kvar där "fysiskt", men ska 
                  vara osynlig under tiden man drar i det

.card.longWord - longWord läggs till om ordet är längre än 10 bokstäver

PREVIEW

.card-preview - kortet som visas när man drar runt det

.card-preview.dragging - kortet som visas när man drar runt det. Gjorde ingenting på web när jag ändrade opactitet till 0.5
                          dubbelkolla på mobilen och ändra tilbaka eller ta bort





*/